openapi: 3.0.3
info:
  title: StellaBank
  description: |
    StellaBank REST API — defines the contract for all endpoints including user registration, authentication, transaction history, card balance, invoice management and transfers between accounts.
  version: 1.0.0
  contact:
    name: StellaBank
    email: engineering@stella-bank.com

servers:
  - url: https://api.stella-bank.com/v1
    description: Production
  - url: https://sandbox.api.stella-bank.com/v1
    description: Sandbox

security:
  - bearerAuth: []

tags:
  - name: auth
  - name: users
  - name: accounts
  - name: transfers
  - name: cards
  - name: invoices
  - name: pix
  - name: notifications

paths:
  /auth/register:
    post:
      summary: Register a new user
      operationId: registerUser
      tags: [auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '409':
          description: Email already in use
        '422':
          description: Validation error

  /auth/login:
    post:
      summary: Authenticate user and return JWT
      operationId: loginUser
      tags: [auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials

  /users/me:
    get:
      summary: Get authenticated user profile
      operationId: getMe
      tags: [users]
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
    patch:
      summary: Update authenticated user profile
      operationId: updateMe
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized
        '422':
          description: Validation error

  /accounts/me/balance:
    get:
      summary: Get authenticated user account balance
      operationId: getAccountBalance
      tags: [accounts]
      responses:
        '200':
          description: Account balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '401':
          description: Unauthorized

  /accounts/me/transactions:
    get:
      summary: Get paginated transaction history
      operationId: getTransactions
      tags: [accounts]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Paginated transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPageResponse'
        '401':
          description: Unauthorized

  /transfers:
    post:
      summary: Transfer funds between accounts
      operationId: createTransfer
      tags: [transfers]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        '201':
          description: Transfer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResponse'
        '400':
          description: Insufficient balance
        '401':
          description: Unauthorized
        '422':
          description: Validation error

  /cards/me/balance:
    get:
      summary: Get card current balance
      operationId: getCardBalance
      tags: [cards]
      responses:
        '200':
          description: Card balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardBalanceResponse'
        '401':
          description: Unauthorized

  /cards/me/limit:
    get:
      summary: Get card limit
      operationId: getCardLimit
      tags: [cards]
      responses:
        '200':
          description: Card limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardLimitResponse'
        '401':
          description: Unauthorized

  /cards/me/invoices:
    get:
      summary: List card invoices
      operationId: listInvoices
      tags: [invoices]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 12
      responses:
        '200':
          description: Paginated invoice list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePageResponse'
        '401':
          description: Unauthorized

  /cards/me/invoices/{invoiceId}:
    get:
      summary: Get invoice details with transactions
      operationId: getInvoice
      tags: [invoices]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetailResponse'
        '401':
          description: Unauthorized
        '404':
          description: Invoice not found

  /pix/me/keys:
    get:
      summary: List authenticated user Pix keys
      operationId: listPixKeys
      tags: [pix]
      responses:
        '200':
          description: List of Pix keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PixKeyResponse'
        '401':
          description: Unauthorized
    post:
      summary: Register a new Pix key
      operationId: createPixKey
      tags: [pix]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixKeyRequest'
      responses:
        '201':
          description: Pix key registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixKeyResponse'
        '409':
          description: Pix key already in use
        '422':
          description: Validation error

  /pix/me/keys/{keyId}:
    delete:
      summary: Delete a Pix key
      operationId: deletePixKey
      tags: [pix]
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Pix key deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Pix key not found

  /notifications/me:
    get:
      summary: List authenticated user notifications
      operationId: listNotifications
      tags: [notifications]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Paginated notification list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPageResponse'
        '401':
          description: Unauthorized

  /notifications/me/{notificationId}/read:
    patch:
      summary: Mark notification as read
      operationId: markNotificationAsRead
      tags: [notifications]
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Notification marked as read
        '401':
          description: Unauthorized
        '404':
          description: Notification not found

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Unique key to ensure idempotent requests

  schemas:
    RegisterRequest:
      type: object
      required: [name, email, password, cpf]
      properties:
        name:
          type: string
          example: Willa Ev
        email:
          type: string
          format: email
          example: willa@stella-bank.com
        password:
          type: string
          format: password
          minLength: 8
        cpf:
          type: string
          example: "123.456.789-00"

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
          example: Bearer
        expiresIn:
          type: integer
          example: 3600

    UserResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
        cpf:
          type: string
        createdAt:
          type: string
          format: date-time

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email

    BalanceResponse:
      type: object
      properties:
        balance:
          type: number
          format: double
          example: 1500.00
        currency:
          type: string
          example: BRL

    TransactionPageResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/TransactionResponse'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        description:
          type: string
        amount:
          type: number
          format: double
        type:
          type: string
          enum: [CREDIT, DEBIT]
        createdAt:
          type: string
          format: date-time

    TransferRequest:
      type: object
      required: [targetAccountId, amount, description]
      properties:
        targetAccountId:
          type: string
          format: uuid
        amount:
          type: number
          format: double
          minimum: 0.01
        description:
          type: string

    TransferResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    CardBalanceResponse:
      type: object
      properties:
        currentBalance:
          type: number
          format: double
          example: 350.00
        currency:
          type: string
          example: BRL

    CardLimitResponse:
      type: object
      properties:
        totalLimit:
          type: number
          format: double
          example: 2000.00
        availableLimit:
          type: number
          format: double
          example: 1650.00
        currency:
          type: string
          example: BRL

    InvoicePageResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceSummaryResponse'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    InvoiceSummaryResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        closingDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        totalAmount:
          type: number
          format: double
        status:
          type: string
          enum: [OPEN, CLOSED, PAID]

    InvoiceDetailResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        closingDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        totalAmount:
          type: number
          format: double
        status:
          type: string
          enum: [OPEN, CLOSED, PAID]
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/CardTransactionResponse'

    CardTransactionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        merchantName:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [PENDING, APPROVED, CANCELLED]
        createdAt:
          type: string
          format: date-time

    PixKeyRequest:
      type: object
      required: [keyType, keyValue]
      properties:
        keyType:
          type: string
          enum: [CPF, EMAIL, PHONE, RANDOM]
        keyValue:
          type: string

    PixKeyResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        keyType:
          type: string
          enum: [CPF, EMAIL, PHONE, RANDOM]
        keyValue:
          type: string
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
        createdAt:
          type: string
          format: date-time

    NotificationPageResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/NotificationResponse'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    NotificationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
        title:
          type: string
        body:
          type: string
        read:
          type: boolean
        createdAt:
          type: string
          format: date-time